

*{
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: Poppins, sans-serif;
}

iframe
{ width:560px; height:315px;




}

@media(max-width:800px)
{
iframe{
     width:360px; height:315px;}
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    background:#000200;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#histoire p{
 
    padding-top: 50px;
    color: transparent;
    font-weight: 900;
    font-size: 2em; 
    cursor: pointer;
    -webkit-text-stroke: 2px #fff;
    text-transform: uppercase;
    text-align: center;
}

#histoire p:hover {
    -webkit-text-stroke: 2px rgb(159, 159, 231);

    
}

section .star

{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
pointer-events: none;
animation: animate 8s  ease-in-out infinite, backgroundmove 16s linear infinite  ;
}

section .star.star1
{
    animation-delay: 0s; 
    background: url('../imgs/stars/star1.png');
}

section .star.star2
{
    animation-delay: -1s; 
    background: url('../imgs/stars/star2.png');
}

section .star.star3
{
    animation-delay: -2s; 
    background: url('../imgs/stars/star3.png');
}

section .star.star4
{
    animation-delay: -3s; 
    background: url('../imgs/stars/star4.png');
}

section .star.star5
{
    animation-delay: -4s; 
    background: url('../imgs/stars/star5.png');
}

section .star.star6
{
    animation-delay: -5s; 
    background: url('../imgs/stars/star6.png');
}

section .star.star7
{
    animation-delay: -6s; 
    background: url('../imgs/stars/star7.png');
}

section .star.star8
{
    animation-delay: -7s; 
    background: url('../imgs/stars/star8.png');
}
@keyframes animate 
{
    0%, 20%,40%,60%, 80%,100% { opacity: 0;}
    10%, 30%,50%,70%, 90% { opacity: 1;}

}

@keyframes  backgroundmove 
{
    0%{
        transform: scale(0);

    }

    50%{
        transform: scale(1);
    }

    100%
    {
        transform: scale(1.5);
    }
}


/* histoire */

#histoire {
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.youtube a{

    display:block;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
 
}

.youtube
{
   padding-top:20px;
 
 
}
