
body{
    animation: degrade 5s ease-in-out infinite;
}


@keyframes degrade {

    0%{
        background: rgb(222, 122, 139);
    }
    50%{
        background: rgb(50, 26, 54);

    }
    100%{background: rgb(222, 122, 139);}
    
}

main{


position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

p{

    margin-left: 50%;
  }
  .icon {
    display: block;
    cursor: pointer;
    margin: auto;
    width: 25%;
   
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
  }
  
  .icon:hover {
    cursor: pointer;
    -webkit-filter: opacity(.2);
    filter: opacity(.2);
    filter:invert(100%)
  }
  
  .prompt {
    cursor: pointer;
    margin: auto;
    width: 13rem;
  }
 

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555; 
  

  padding:1.2em 30px 1.2em 75px;
  /* border-left:8px solid #78C0A8 ; */
  border-left:8px solid #8a257f ;

  line-height:1.6;
  position: relative;
 background:#EDEDED;
  



}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  /* color:#78C0A8; */
  color:#ee72ee;

  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
  
