* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width:800px) {
    
    height: 50vh; 
  }
}

.container-ribbon{
 width: 100vw;
 
overflow: hidden;





}


.container .slider {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 60%;

}

.container ul {
  position: absolute;
  bottom: 50px;
  display: flex;
  white-space: nowrap;

  left: 0px;


  @media(max-width: 800px){
    bottom: -100px;
   
  }

  /* animation:scrollVideos 20s infinite; */
  /* left: 50%;
   
  transform: translateX(-50%);   */

  /* justify-content: center;
    align-items: center;
    z-index: 20; */
  /* animation:scrollVideos 20s infinite;
    animation-delay: -10s;
    */

  /* @media(max-width: 800px){ flex-direction: column;
    
        left: 0;
        top: 50%;
   
        transform: translateY(-50%); 
         /* animation: slideury 20s infinite;}  } */
}

.container ul li {
  list-style: none;
  margin: 10px;

}

.container ul li img {
  width: 200px;
  object-fit: cover;
  /* transition: all 0.3s; */
  flex-shrink: 0;
}

.container ul li img:hover {
  /* pour effet video qui sort  */
  transform: scale(1.1);
  opacity: 1;
}

img{
  width: 100%;
  height: 60%;
  cursor: pointer;
}

@keyframes scrollVideos {
  0% {
    transform: translateX(400px);
  }
  50% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(400px);
  }
}

.youtube a {
  text-decoration: none;
  color: white;
}

.youtube {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;


 

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   row-gap: 20px;

  }
}

@keyframes degrade {

  0%{
    background:rgb(3, 5, 62);
  
    

  }

 



  50%{
    /* background:rgb(179, 179, 203); */
    background:rgb(196, 232, 245);

  }

  70%{
    /* background:rgb(179, 179, 203); */
    background:rgb(112, 110, 191);

  }


   100%{
    background: rgb(3, 5, 62);

  } 
}



.fa-heart-circle-check{ 

  padding-bottom: 20px; 

  width: 30%;
  text-align: center;
 margin-left: auto;
 margin-right: auto;
 
 
   cursor: pointer;
  display: block;  
   
   text-shadow:0 0 40px rgb(223, 112, 112), 0 0 40px rgb(223, 112, 112),  0 0 40px rgb(216, 194, 194);  

   font-size: 40px;
   animation: degrade 6s linear infinite;


} 

  body{
    animation: degrade 6s linear infinite;
  }
 
  @keyframes pluie 
  {

    0%{ transform: translateY(-5vh);}
    100%{transform: translateY(110vh);}
  }

  .heart{
    font-size: 25px;
  animation:pluie  linear  forwards 1; 
    position: fixed;
    top: 0;
  }

  .fa-film{

  
     cursor: pointer;
     
  color:red;
font-size: 50px;
position: absolute;
margin-left: 20px;
margin-top: -60px;
text-shadow:0 0 40px rgb(223, 112, 112), 0 0 40px rgb(223, 112, 112),  0 0 40px rgb(216, 194, 194);  

    

  }

  .fa-film:hover{

    color: black;
    text-shadow:0 0 40px rgb(223, 112, 112), 0 0 40px rgb(223, 112, 112),  0 0 40px rgb(216, 194, 194);  


  }
 