

body{
    background: url(../imgs/vue.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
   


    
}

h1{
    text-align: center;
    font-family: 'Sacramento', cursive;;
    font-size: 40px;
}

.container {

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

p{

    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    width: 60%;
}

.design{

    
            font-family: "Space Mono", monospace;
            font-weight: 700;
            font-style: normal;

}

.groupo{
    font-family: "Gruppo", sans-serif;
        font-weight: 400;
        font-style: normal;
}

