
/************il faut que la classe du sous menu soit 
absolute et la classe du menu qui est son parent soit relative 

il faut que le left sous menu ne soit pas trop eloigné de son menu parent 

*******/


/* DESKTOP */

.mp{

    padding: 10px 15px; 
    position: relative;
}

.mpa,.cat {

    font-size: 20px;
     text-decoration: none;
     color: whitesmoke;
    
 }




.souscateg

{display: none ;} 




.ali{position: relative;}

.ali:hover .sousous{ 
    
    display: block;

}





.mp:hover .souscateg{


    display: block;
}

.mpa:hover

{

    color: rgb(49, 0, 41);
    font-size: 25px;
    padding: 10px 15px;
  
opacity: 0.8;

    box-shadow:  0 0 10px whitesmoke;
    border-radius: 5px;
}

.cat:hover
{

/*     color: rgb(49, 0, 41);
    font-size: 25px; 
    padding: 10px 15px; 
    
    
    pointer-events: none;   
    */
  



}

.catsous:hover{    
  font-weight: bold;

padding: 15px 0px;
}

.souscateg li a{ 

    text-decoration: none;
    color: black;
    display:block;

 
    letter-spacing: 1px;
   

}

.souscateg li{    padding: 8px 0px;
}

.souscateg li a:hover

{
display:block;
  font-weight: bold;

padding: 15px 0px;
}

.souscateg{

    
      background-color:whitesmoke; 
      position: absolute;

      top:50px;

      width: 160px;
      border-top: 5px solid pink;

    padding: 10px 10px;
    
    border-radius: 5px;
}

.sousous

{

       
   
display: none;
   position: absolute;
    left: 160px;
    top: -10px;
    width: 110px;
    background-color:whitesmoke; 
    border-left: 5px solid pink;

    padding: 10px 10px;
    
    border-radius: 5px;


    
}

